.menu_button{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 221;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 3px 10px;
  height: var(--control_min_height);
  width: var(--control_min_height);
  background: var(--site-body-fg);
  cursor: pointer;
}
.menu_button:hover{
  transform: scale(1.05);
}

body.page-editor .menu_button {
  top: calc(var(--activity-bar-height) + 12px);
}

.menu_button_opened_tray {
  background: red;
}

.menu_button_bar{
  background: var(--site-body-bg);
  height: 2px;
  width: 100%;
  border-radius: 10px;
  transform: none;
  transition: all 500ms ease;
}

.menu_button_top_bar{

}

.menu_button_bottom_bar{


}

.menu_button_top_bar_opened{
  top: 12%;
  transform: rotate(45deg);
  background: #fff;
}
.menu_button_bottom_bar_opened{
  bottom: 13%;
  transform: rotate(135deg);
  background: #fff;
}