:root{
  font-family: Raleway, Montserrat, Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --min_input_height: 35px;
  --min_input_width: 35px;
  --border_radius_001: 4px;
}

* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  height: fit-content;
  max-width: 1920px;
  width: 100vw;
  overflow: hidden;
  border: solid 1px red;
  margin: auto;
}

input, button {
  min-height: var(--min_input_height);
  min-width: var(--min_input_width);
  border-radius: var(--border_radius_001);
}